@import "https://fonts.googleapis.com/css?family=Roboto:300,400";
* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
<<<<<<< HEAD
  background: url("/img/bg-login.jpg") 70% fixed;
=======
  background: url("../img/bg-login.jpg") 70% fixed;
>>>>>>> 420e4c822dc86d01c6f3100df841887253543942
  background-size: cover; }

@keyframes spinner {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }
.main-header {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  min-width: 1260px;
  margin: 0 auto;
  color: #10263f;
  background: #ececec; }
  .main-header .header {
    margin: 0 auto;
    width: 1260px;
    min-width: 1260px;
    position: relative; }
    .main-header .header .logo {
      position: absolute;
      top: 15px;
      left: 0px;
      font-size: 44px;
      font-weight: 900;
      padding: 0px 20px 2px;
      letter-spacing: -4px;
      font-family: 'Open Sans', sans-serif; }
      .main-header .header .logo a {
        text-decoration: none;
        color: #10263f; }
    .main-header .header .sistemzamani {
      font-size: 26px; }
      .main-header .header .sistemzamani span {
        top: 15px;
        left: 380px;
        position: relative; }
      .main-header .header .sistemzamani strong {
        top: 36px;
        left: 128px;
        position: relative; }
    .main-header .header .userdetail span {
      font-weight: bold; }
    .main-header .header .userdetail .kadi {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px; }
    .main-header .header .userdetail .bakiye {
      position: absolute;
      top: 38px;
      right: 61px;
      font-size: 20px; }

.menu {
  margin: 0 auto;
  width: 100%;
  height: 46px;
  background-color: #10263f; }
<<<<<<< HEAD

.menu-dzn {
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 220px;
  border-radius: 5px; }

.menu-ayr ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
.menu-ayr ul > li {
  float: left; }
.menu-ayr ul > li a {
  color: #fff;
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }
.menu-ayr ul > li a:hover {
  background-color: #1a66b1;
  color: #fff; }
=======

.menu-dzn {
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 257px;
  border-radius: 5px; }

.menu-ayr ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
.menu-ayr ul > li {
  float: left; }
.menu-ayr ul > li a {
  color: #fff;
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }
.menu-ayr ul > li a:hover {
  background-color: #1a66b1;
  color: #fff; }

.container {
  display: table;
  width: 1260px;
  margin: 0 auto; }
  .container .container-left {
    width: 200px;
    min-width: 200px;
    vertical-align: top;
    padding: 35px 10px 0 0;
    float: left; }
  .container .container-center {
    display: table-cell;
    vertical-align: top;
    padding: 35px 0 10px 0;
    width: 100%;
    height: 400px !important;
    min-height: 400px; }
  .container .container-right {
    display: table-cell;
    width: 250px;
    min-width: 250px;
    vertical-align: top;
    padding: 35px 0 10px 10px; }

.box {
  padding: 0px 5px 5px; }

.boxbaslik {
  padding: 7px 10px 7px;
  font-family: Arial;
  color: #fff;
  font-size: 12px;
  background-color: #204e56;
  box-shadow: 0px 13px 10px #31707b inset;
  border: 1px solid #245b64;
  font-weight: bold; }

.links a {
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  color: #222;
  padding: 6px 10px 6px;
  text-decoration: none;
  display: inherit;
  background-color: #f9f9f9;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #fff;
  text-shadow: 1px 1px 0px #fff; }
>>>>>>> 420e4c822dc86d01c6f3100df841887253543942

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(4, 40, 68, 0); }

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }
  .login.loading button {
    max-height: 100%;
    padding-top: 50px; }
    .login.loading button .spinner {
      opacity: 1;
      top: 40%; }
  .login.ok button {
    background-color: #8bc34a; }
    .login.ok button .spinner {
      border-radius: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      height: 20px;
      animation: none;
      transform: rotateZ(-45deg); }
  .login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc; }
    .login input + i.fa {
      color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in; }
    .login input:focus {
      outline: none;
      color: #444;
      border-color: #2196F3;
      border-left-width: 35px; }
      .login input:focus + i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out; }
  .login a {
    font-size: 0.8em;
    color: #2196F3;
    text-decoration: none; }
  .login .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; }
  .login button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2196F3;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px; }
    .login button .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255, 255, 255, 0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
  .login:not(.loading) button:hover {
    box-shadow: 0px 1px 3px #2196F3; }
  .login:not(.loading) button:focus {
    border-bottom-width: 4px; }

/*# sourceMappingURL=style.css.map */
